*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Mitr", sans-serif;
}

p{
    font-weight: 200;
    font-family: "Mitr";
}

h1{
    font-weight: 500;
    font-family: "Mitr";
}

/* HEADER */

#header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #101010;
}

.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container{
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Mitr';
    font-size: 32px;
    font-weight: 200;
}

.logo-container h1 span{
    font-weight: 500;
}

/* NAVIGATION */

.desktop-nav,
.hamburger-icon{
    margin-right: 5%;
    position: relative;
}

.navigation-links li a{
    height: 100%;
    color: white;
    font-family: "Mitr";
    font-size: 16px;
    font-weight: 200;
}

/* DESKTOP NAV */

.desktop-nav-links{
    float: right;
    height: 100%
}

.desktop-nav-links li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.desktop-nav-links li:last-child{
    padding-right: 0;
}

.desktop-nav-links li a{
    display: table-cell;
    vertical-align: middle;
}

/* HAMBURGER NAV */

.hamburger-nav{
    display: none;
}

.hamburger-icon{
    height: 5vh;
    width: 5vh;
}

.hamburger-icon span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3 ease;
}

.hamburger-icon span:nth-child(1){
    top: 25%;
}

.hamburger-icon span:nth-child(3){
    top: 75%;
}

.hamburger-icon.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-icon.active span:nth-child(2){
    display: none;
}

.hamburger-icon.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-mobile-nav{
    background-color: black;
    height: 50vh;
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-mobile-nav.active{
    right: 0px;
}

/* SECTIONS */

section{
    height: 100vh;
}

.section-header-text{
    font-size: 100px;
    font-weight: 200;
}

.section-paragraph-text{
    font-size: 60px;
}

.section-header{
    color: black;
}

.section-header p{
    font-size: 3rem;
}

/* HOME */

#home-section{
    gap: 5rem;
    height: 100vh;
    background-color: #030168;
    background-image: url("../assets/images/spaceneedle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-section-containter{
    display: flex;
}

.home-section-header{
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: "Mitr";
    color: white;
}

.home-section-header h1{
    font-size: 15vw;
}

.home-section-header h1 span{
    font-weight: 500;
}

/* ABOUT */
#about-section{
    gap: 5rem;
    justify-content: left;
}

.about-section-container{
    padding-top: 12%;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap:nowrap;
}

.about-text-container p {
    line-height: 32px;
}

.about-section-description-container{
    flex-wrap: wrap;
    flex-direction: column;
    width: 45vw;
    padding-left: 5%;
    padding-right: 7%;
}

.about-text-container{
    display: block;
    padding-top: 5%;
    font-size: larger;
}

.img-container {
    padding-top: 6%;
}

.section-image{
    display: inline-block;
    width: 80%;
    height: auto;
    margin-top: 2%;
    padding: -10%;
    border-radius: 25px;
    box-shadow: -30px 30px 2px grey;
}

/* CONTACT */

#contact-section{
    gap: 5rem;
    justify-content: center;
}

.contact-section-container{
    padding-top: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section-header{
    text-align: center;
}

.section-header h1{
    font-weight: 400;
    font-size: 6rem;
}

.contact-section-details{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 15px;
}

.contact-section-pic-container{
    padding-right: 30px;
    padding-left: 30px;
    display: inline;
    flex-direction: column;
}

.contact-section-pic-container p{
    text-align: center;
    font-size: 16px;
}

.contact-section-pic{
    width: 120px;
    height: 120px;
}
